@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
  scroll-behavior: smooth;
}


/* ----- Landing page ----- */

#landing-page {
    background-attachment: fixed;
    background-image: url('../images/background/beach-bench.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

/* Text shadow https://stackoverflow.com/questions/2570972/css-font-border */
.landing-text {
    font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	letter-spacing: 4px;
    color: #fafafa;
    text-shadow: -1.5px 0 #00000066, 0 1.5px #00000066, 1.5px 0 #00000066, 0 -1.5px #00000066;    
}

/* Jumbotron */

h1 {
    padding-top: 5%;
    font-size: 10vh;
}

.jumbotron {
    border-radius: 0;
}

.jumbotron p {
    font-size: 4vh;
}

/* Navbar */

.navbar {
    margin-right: 0;
    border: 0;
}

.nav-link {
    padding: 0;
}


.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.btn {
    text-shadow: 1px 1px black;
    min-width: 100px;
    width: 8vw;
    font-size: 1.75vh;
    color: white;
    margin: 4px;
    font-weight: 500;
    background-color: rgba(1, 188, 207, 0.75);
    border: solid 1px rgba(0, 0, 0, 0.5);
}

.ml-auto {
    margin-bottom: 3px;
}
.container {
    margin-right: 0;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 1);
    border: solid 5px rgba(0, 0, 0, 1);
}

/* ----- About me ----- */

#about-me {
    background-attachment: fixed;
    background-image: url('../images/background/sand-sea.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
}

.personal-img {
    width: 15vw;
    height: 15vw;
    min-width: 125px;
    min-height: 125px;
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    justify-items: center;
}

.personal-img-div {
    padding-top: 25px;
}

.personal-info{
    color: black;
    text-align: center;
    font-weight: 500;
    padding-top: 10vh;
    font-size: 2.5vh;
}

.col-7 > h3 {
    font-size: 3.5vh;
    font-weight: 700;
}

.personal-pitch {
    color: white;    
    padding: 15vh 5vw;
    font-size: 3vh;
    text-shadow: -1px 0 #00000070, 0 1px #00000070, 1px 0 #00000070, 0 -1px #00000070;
    margin-bottom: 5vh;
}

.personal-pitch > p > a {
    color:rgb(1, 188, 207);
    text-shadow: -1px 0 #00000070, 0 1px #00000070, 1px 0 #00000070, 0 -1px #00000070;
    font-size: 4vh;


}

.personal-info ul {
    list-style-type: none;
    padding-left: 10px;
}

/* Small Icons*/
.fas {
    color: rgb(1, 188, 207)
}


/* ----- Portfolio ----- */

#portfolio {
    background-attachment: fixed;
    background-image: url('../images/background/boat-on-seashore.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
}

.portfolio-text {
    color: #fafafa;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 5vh 0 0;
    text-shadow: -1px 0 #00000066, 0 1px #00000066, 1px 0 #00000066, 0 -1px #00000066;

}

.portfolio-header {
    padding: 3vh 0 3vh;
}

.portfolio-header > h2 {
    color: rgb(0, 0, 0);
    font-size: 4.5vh;
    font-weight: 700;
    text-shadow: -1px 0 #ffffff66, 0 1px #ffffff66, 1px 0 #ffffff66, 0 -1px #ffffff66;
}

.portfolio-block {
    margin: 10px 0 50px;
}

.portfolio-images {
display: block;
min-width: 80px;
min-height: 80px;
width: 7vw;
height: 7vw;
max-width: 300px;
max-height: 300px;
margin: 0 auto;
background-color: transparent;
}

.portfolio-images > p {
    color: rgb(80, 80, 80);
    font-weight: 700;
    font-size: 2vh;
}

.portfolio-icons {
    margin: 0 auto;
}

.portfolio-description {
    display: block;
    margin: 10px 0;

}

.portfolio-description > p {
    padding: 20px 0;
    height: 15vw;
    min-height: 100px;
    max-height: 150px;
    margin-right: 5vw;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 2vh;
}

/* ----- Contact ----- */

#contact {
    background-attachment: fixed;
    background-image: url('../images/background/beach-fun.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    height: 100vh;
}

.contact-text {
    padding-top: 15vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

/* Font-weight has to be in .contact-text > h2 to give weight*/
.contact-text > h2 {
    font-size: 5vh;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact-text > p {
    font-size: 3vh;
}

.form-center > form {
    padding-top: 30px;
    margin: 0 auto;
    width: 50vw;
    min-width: 300px;
}

/*Div around submit button */
.submit-btn {
    padding-top: 20px;
}

.btn-submit {
    margin: auto;
    background-color:rgb(1, 188, 207);
    border: 1px solid #00000050;
    width: 7vw;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.form-control {
    padding: 10px;
    margin-bottom: 5px;
    height: 35px;
}


/* ----- Footer ----- */

#footer-center {
    text-align: center;
    margin: 0 auto;
}

.social-links {
    background-color: transparent;
    padding: 20px;
}

ul {
    margin-bottom: 0px;
}
.list-inline-item {
    padding: 0 5px;
}
.social-links li a i{
    width: 45px;
    height: 45px;
    padding: 19px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: rgb(1, 188, 207);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: rgb(0, 119, 187);
}






