* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
#landing-view {
    background-attachment: fixed;
    background-image: url(../images/sunrise.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    animation-name: hero-zoom;
	animation-duration: 3s;
	animation-fill-mode: forwards;

}*/
.container-fluid {
    margin: 0;
    padding: 0;
}




.hero-image {
    width: 100vw;
    background: url(../images/sunrise.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: hero-zoom;
	animation-duration: 3s;
	animation-fill-mode: forwards;
    background-attachment: fixed;
}

.hero-outer {
    height: 100Vh;
    width: 100%;
	overflow: hidden;
	position: relative;
}

@keyframes hero-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.hero-text {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-weight: 700;
	text-transform: capitalize;
    letter-spacing: 2px;
	height: 150px;
	background-color: rgba(150, 217, 255, 0.9);
    position: absolute;
    top: 35%;
    padding-top: 30px;
    padding-left: 30px;
    color: white;
}

.menucontainer {
    text-align: center;
}

/* Navbar */
.navbar {
    margin-right: 0;
    border: 0;
    width: 95%
}

.nav-link {

}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
    margin-bottom: 3px;
}

.btn {
    width: 100px;
    color: white;
    margin-bottom: 3px;
    font-weight: 500;
    background-color:transparent;
    border: none;
}

.ml-auto {
    margin-bottom: 3px;
}

/* About me */

#about-me {
    width: 100%;
    height: 500px;
    background-color: green;
}

/* Portfolio */

#portfolio {
    width: 100%;
    height: 500px;
    background-color: red;
}
*/
/* Contact */

#contact {
    width: 100%;
    height: 500px;
    background-color: blue;
}
.contact-text {
    text-align: center;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.btn-submit {
    margin: auto;
    background-color: blue;
    width: 200px;
}

.text-center {
    text-align: center;
}

.form-control {
    padding: 10px;
}

/* Footer */



.social-links {
    color: white;
    font-size: 150%;
    padding-top: 15px;
    padding-bottom: 20px;
}

.social-links h5 {
    color: white;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #e81010;
}


ul {
    margin-bottom: 0px;
}*/

